{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ wish.title }}</h2>
    {# on utilise le filtre date() pour convertir l'objet en chaîne #}
    <p class="wish-credit">Created by {{ wish.author }} on {{ wish.dateCreated|date('Y-m-d') }}</p>
    {# le filtre nl2br convertie les sauts de ligne du texte en balises <br> #}
    <div>{{ wish.description|nl2br }}</div>
{% endblock %}

{% block title %}{{ wish.title }} | {{ parent() }}{% endblock %}